<% @checklist.each do |check| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to check.name, check %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
    