<div class="ui grid">
  <div class="sixteen wide column">Create a New Checklist!</div>
  <div class="sixteen wide column"><%= render partial: 'checklists/form', locals: { :checklist => Checklist.new } %></div>
  <div class="sixteen wide column"><%= render @checklist %></div>
</div>
